<!doctype html>
<html>
   <body>
      <p>
      <h2> Famous Arts Inventory </h2>
      <p>
      <a href = "/enternew">Add Item </a>
      <p>
      <p> The List view enables to <bold>locate</bold> the 
        item details from the Famous Arts inventory/
        data store for any updates or removal. <p>
      <p>
      <a href = "/list">Show list</a>
      <p>
      <p> The Archive view enables to <bold>locate</bold> the archived items.
      <p>
      <a href = "/showarchive">Show archived items</a>
   </body>
  </html>
